.dark-mode {
  background-color: darken($grisOscuro, 10);
  p {
    color: $blanco;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $gris;
  }
  .anuncio {
    background-color: $grisOscuro;
    border: 1px solid $gris;
    .precio {
      color: $verde;
    }
    .icono {
      filter: invert(70%);
    }
  }
  blockquote {
    color: $gris;
  }
  .formulario {
    label,
    legend,
    p {
      color: $gris;
    }
    input:not([type="submit"]),
    textarea,
    select {
      background-color: $grisOscuro;
      color: $blanco;
    }
  }
}
