.contenido-nosotros {
  @include tablet {
    @include grid(2, 2rem);
  }
  p {
    margin: 0;
  }
}

.texto-nosotros blockquote {
  font-weight: $bold;
  font-size: 2.2rem;
  margin: 0;
  padding: 1rem 0 1.5rem 0;
}
