.alerta {
  margin: 1rem 0 0 0;
  color: $blanco;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: $bold;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &.error {
    background-color: $rojo;
  }
  &.exito {
    background-color: $verde;
  }
}
table.propiedades {
  width: 100%;
  margin-top: 4rem;
  border-spacing: 0;
  thead {
    background-color: $verde;
    th {
      color: $blanco;
      padding: 2rem;
    }
  }
  .imagen-tabla {
    width: 10rem;
  }
}
.imagen-pequenia {
  width: 150px;
}
